<!--/Header-->
<section *ngIf="randomRecipe" class="sections home text-center" [ngStyle]="{
   'background': 'url('+ randomRecipe.recipes[0].image +') no-repeat',
   'background-size' :'cover', 
   'height' :'500px', 
   'background-position' :'center'
  }">
  <div class="container ">
    <div class="carousel-caption">
      <h1 class="display-2">{{ randomRecipe.recipes[0].title }}</h1>
      <h5> Dish types: <span *ngFor="let x of randomRecipe.recipes[0].dishTypes; index as i"> {{x}} | </span> </h5>
      <h5> Diets types: <span *ngFor="let x of randomRecipe.recipes[0].diets; index as i"> {{x}} | </span> </h5>
      <!-- <a class="btn btn-light btn-lg" routerLink="/details"> </a> -->
      <button class="btn btn-light btn-lg" (ngInit)="getSimilarRecipes(randomRecipe.recipes[0].id)"
        (click)="gotoDetails(randomRecipe.recipes[0].id)">See
        Receipe</button>
    </div>
    <p [hidden]="true">{{randomRecipe.recipes[0].id}}</p>
  </div>
</section>




<!--fixed background-->
<figure>
  <div class="fixed-wrap">
    <div id="fixed">
    </div>
  </div>
</figure>


<!--Search-->
<div class="receipe-post-area section-padding-80">
  <div class="receipe-post-search mb-80">
    <div class="container">
      <form action="#" method="post">
        <div class="row">
          <div class="col-12 col-lg-3">
          </div>
          <div class="col-12 col-lg-3">
            <input [(ngModel)]="searchWords" #ctrl="ngModel" type="search" name="search" placeholder="Search Receipies">
          </div>
          <div class="col-12 col-lg-3 text-right">
            <button (click)="search()" class="btn delicious-btn">Search</button>
          </div>

          <!--Meet the team-->
          <div class="container-fluid padding">
            <div class="row welcome text-center">
              <div class="col-12">
                <h3 class="display-4">Best Receipe</h3>
                <hr>
              </div>

            </div>
          </div>


          <!--Cards-->
          <div class="conainer-fluid padding">
            <div class="row padding">
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="assets/img/19.jpeg" width="10px" height="250px">
                  <div class="card-body">
                    <a href="#" class="btn btn-outline-secondary">See More</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="assets/img/5.jpeg" width="10px" height="250px">
                  <div class="card-body">
                    <a href="#" class="btn btn-outline-secondary">See More</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="assets/img/4.jpeg" width="10px" height="250px">
                  <div class="card-body">
                    <a href="#" class="btn btn-outline-secondary">See More</a>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="assets/img/1.jpeg" width="10px" height="250px">
                  <div class="card-body">
                    <a href="#" class="btn btn-outline-secondary">See More</a>
                  </div>
                </div>
              </div>



              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="assets/img/8.jpeg" width="10px" height="250px">
                  <div class="card-body">
                    <a href="#" class="btn btn-outline-secondary">See More</a>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="assets/img/00.jpeg" width="10px" height="250px">
                  <div class="card-body">
                    <a href="#" class="btn btn-outline-secondary">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
